maxmin.txt
maxminRM6.txt
maxminRM8.txt
maxminRM9_1.txt
qtest10.txt
qtrain10.txt
results.txt
RM6train.txt
RM8train.txt
RM9.1_salinity_training.txt
RM9.1train.txt
rtest.txt
rtrain.txt
trealtest.txt
trealtrain.txt
weightsRM6.txt
weightsRM8.txt
weightsRM9_1.txt
Connection.ctxt
Neuron.ctxt
RM6Forecast.ctxt
RM6Hindcast.ctxt
RM6Network.ctxt
RM8Forecast.ctxt
RM8Hindcast.ctxt
RM8Network.ctxt
RM9_1Forecast.ctxt
RM9_1Hindcast.ctxt
RM9_1Network.ctxt